.services{

    padding:120px 9%;
    background:#0b0b0b;
    color:white;
}

.section-subtitle{

    color:#ff6b2d;
    letter-spacing:3px;
    font-size:14px;
    font-weight:600;
    margin-bottom:15px;
}

.section-title{

    font-size:55px;
    margin-bottom:60px;
}

.services-container{

    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:35px;
}

.service-card{

    background:#171717;

    border:1px solid #262626;

    border-radius:20px;

    padding:40px;

    transition:.4s;

    cursor:pointer;
}

.service-card:hover{

    transform:translateY(-12px);

    border-color:#ff6b2d;

    box-shadow:0 10px 30px rgba(255,107,45,.25);
}

.service-icon{

    width:70px;
    height:70px;

    border-radius:18px;

    background:#222;

    display:flex;
    justify-content:center;
    align-items:center;

    color:#ff6b2d;

    font-size:32px;

    margin-bottom:30px;
}

.service-card h3{

    font-size:30px;

    margin-bottom:20px;
}

.service-card p{

    color:#a6a6a6;

    line-height:1.8;

    font-size:17px;
}

@media(max-width:992px){

.services-container{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:768px){

.services{

padding:80px 6%;

}

.section-title{

font-size:42px;

}

.services-container{

grid-template-columns:1fr;

}

.service-card{

padding:30px;

}

.service-card h3{

font-size:24px;

}

}