.about{

    padding:120px 9%;

    background:#0b0b0b;

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:70px;

    color:white;
}

.about-image{

    flex:1;
}

.about-image img{

    width:100%;

    max-width:430px;

    border-radius:25px;

    transition:.4s;
}

.about-image img:hover{

    transform:scale(1.04);
}

.about-content{

    flex:1;
}

.about-subtitle{

    color:#ff6b2d;

    letter-spacing:3px;

    font-weight:600;

    margin-bottom:15px;
}

.about-content h2{

    font-size:55px;

    margin-bottom:30px;

    line-height:1.2;
}

.about-content p{

    color:#bdbdbd;

    line-height:1.9;

    margin-bottom:20px;

    font-size:17px;
}

.about-content span{

    color:#ff6b2d;

    font-weight:bold;
}

.skills{

    display:flex;

    flex-wrap:wrap;

    gap:15px;

    margin-top:35px;
}

.skills span{

    padding:10px 20px;

    background:#1d1d1d;

    border:1px solid #2c2c2c;

    border-radius:30px;

    color:white;

    transition:.3s;
}

.skills span:hover{

    background:#ff6b2d;

    border-color:#ff6b2d;
}

@media(max-width:992px){

.about{

flex-direction:column;

text-align:center;

}

.about-content h2{

font-size:42px;

}

.about-image img{

max-width:350px;

}

.skills{

justify-content:center;

}

}

@media(max-width:768px){

.about{

padding:80px 6%;

}

.about-content h2{

font-size:35px;

}

}